body {
    font-family: 'Georgia', serif;
    background-color: #2c2c2c; /* Negro grisáceo */
    color: #fff8e7;
    text-align: center;
    margin: 50px;
}

.descripcion p {
    font-size: 20px;
    color: #fff8e7;
    width: 60%;
    margin: auto;
    padding: 20px;
    background: #3b3b3b;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    font-style: italic;
}

.boton .descargar {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #d32f2f; /* Rojo tomate */
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    transition: 0.3s;
    font-weight: bold;
}

.boton .descargar:hover {
    background-color: #b71c1c;
}

    background-color: #b71c1c;
}
